body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

#calendar {
    border-collapse: collapse;
    margin-top: 20px;
}

#calendar th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

#calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.date-14 {
    background-color: red; /* Set background color to red */
    color: white; /* Set text color to white */
}

.date-14:hover {
    background-color: darkred; /* Darken background color on hover */
    cursor: pointer; /* Add pointer cursor */
}
